.navbar {
  width: 100%;
  height: 75px;
  z-index: 999;
  line-height: 75px;
  padding: 0px 80px;
  position: fixed;
  top: 0;
  background-color: transparent;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  float: right;
}

.navbar-link-text, 
.navbar-logo-text {
  text-decoration: none;
}

.navbar-logo {
  float: left;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.navbar-link {
  float: left;
  padding: 0 100px 0 0;
}

.navbar-link-text {
  color: black;
  font-size: 2vw;
}

.navbar-link-text:hover {
  color: rgb(73, 71, 71);
}

@media (max-width: 800px) {
  .navbar-link {
    padding: 0 20px 0 0;
  }
}