.navbar {
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0px 80px;
  position: fixed;
  top: 0;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.navbar-link-text, 
.navbar-logo-text {
  text-decoration: none;
}

.navbar-logo {
  float: left;
  font-size: 35px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.navbar-link {
  float: right;
  padding: 0 100px 0 0;
}

.navbar-link-text {
  color: black;
  font-size: 25px;
}

.navbar-link-text:hover {
  color: rgb(73, 71, 71);
}