.navbar {
  background-color: aqua;
  height: 80px;
  margin: 0;
  overflow: hidden;
  z-index: 100;
  align-items: center;
}

.navbar-menu {
  height: 100%;
}

.navbar-menu li {
  float: left;
  display: block;
}

.navbar-link {
  text-decoration: none;
  font-size: 45px;
  display: flex;
  width: 30%
}